* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #242931;
    /* background: linear-gradient(180deg, rgba(2, 0, 36, 1) 10%, rgba(9, 9, 121, 1) 18%, rgb(0, 7, 70) 100%); */
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    height: 60px;
    /* background-color: rgba(255, 0, 0, 0.342); */
    align-items: center;
    justify-content: space-evenly;
    /* position: fixed;
    top: 0; */
}

.logo a {
    display: flex;
    width: 250px;
    /* background-color: rgba(25, 0, 255, 0.26); */
    padding: 10px;
    font-size: 24px;
}

.topbar {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 80%;
    margin-left: auto;
    /* background-color: rgba(25, 0, 255, 0.212); */
    list-style: none;
}

.sidebar {
    /* background-color: rgba(255, 255, 255, 0.15); */
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(141, 120, 120, 0.1);
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
}

.content {
    padding: 20px 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}


nav a {
    display: flex;
    height: 80%;
    width: 80px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.sidebar li {
    width: 100%;
    height: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.sidebar {
    display: none;
}

nav a {
    transition: transform 0.3s ease, color 0.3s ease;
}

.svg-icon:hover path,
nav a:hover {
    fill: #0bddac;
    color: #0bddac;
    /* font-weight: 700; */
    transform: scale(1.05, 1.05);
    text-shadow:
        0 0 5px #0bddac
}

.home-section {
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
}


.home-right {
    width: 30%;
}

.home-left {
    height: auto;
    width: 50%;
    padding: 50px 0 0;
    /* background: rgba(255, 0, 0, 0.397); */
    color: #fff;
}

.name {
    font-size: 36px;
    color: #0bddac;
    text-shadow:
        0 0 5px #0bddac
}

.greet {
    margin-top: 10px 0 0;
    color: #fff;
    font-size: 20px;

}

.headline {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.about {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
}

#profile-image {
    width: 100%;
    margin: 20px 0;
}

@media(max-width: 700px) {
    .hideOnMobile {
        display: none;
    }

    .topbar {
        width: auto;
    }

    .menu-button {
        display: block;
        margin-right: 20px;
    }

    .home-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-section div {
        width: 90%;
    }

    #profile-image {
        width: 60%;
    }
}