@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

@font-face {
    font-family: 'Amorese';
    src: url('assets/Amoresa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Scrollbar track (background) */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #b6bebc;
    border-radius: 10px;
}

/* Scrollbar track area */
::-webkit-scrollbar-track {
    background-color: #171b20;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0bddac;
}


body {
    min-height: 100vh;
    background: #242931;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

nav {
    background: #242931;
    /* background-color: rgba(255, 0, 0, 0.212); */
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;

    a {
        display: flex;
        height: 80%;
        width: 80px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
    }
}

.menu-button {
    display: none;
}

.logo {
    width: 250px;
    /* background-color: rgba(25, 0, 255, 0.26); */
    padding: 10px;
    height: 100%;
    margin-left: 50px;

    .logo-link {
        padding-top: 8px;
        width: 213px;
        height: 100%;
        /* background-color: #01ffd5; */

        #logo-txt {
            /* background-color: #101d08b7; */
            /* position: relative;
            display: inline-block;
            overflow: hidden; */

            width: auto;
            height: 100%;
            color: rgb(255, 255, 255);
            font-family: 'Amorese', sans-serif;
            font-size: 27px;
            text-decoration: none;
            line-height: 55px;
            padding-right: 5px
        }
    }
}

/* Curtain overlay */
/* #logo-txt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #242931;
    z-index: 2;
    transform: translateX(0);
    transition: transform 1s ease-out;
} */

/* Reveal class - slides curtain away */
/* #logo-txt.reveal::before {
    transform: translateX(100%);
} */

.topbar {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 80%;
    margin-left: auto;
    list-style: none;
}

.sidebar {
    backdrop-filter: blur(12px);
    top: 0;
    right: 0;
    width: 50%;
    height: 110%;
    position: fixed;
    flex-direction: column;
    z-index: 1000;

    /* Animate sidebar from right */
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
}

.sidebar-shadow {
    box-shadow: -10px 0 10px rgba(141, 120, 120, 0.1);
}

.sidebar.active {
    transform: translateX(0);
    /* Slide into view */
}

.sidebar .content {
    padding: 20px 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.sidebar a {
    display: flex;
    height: 60%;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}



.sidebar a:hover,
.svg-icon:hover path,
nav a:hover {
    cursor: pointer;
    fill: #0bddac;
    color: #0bddac;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-out;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 40px;
}

h1.animate {
    animation: fadeInText 1s ease forwards;
}

.home-section {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    gap: 2rem;
}


.home-right {
    width: 25%;
    height: auto;
}

.home-left {
    height: auto;
    width: 50%;
    padding: 50px 0 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .name {
        font-size: 40px;
        font-weight: 700;
        margin: 10px 0;
        color: #0bddac;
        text-shadow:
            0 0 3px #0bddac
    }

    .greet {
        margin-top: 10px 0 0;
        color: #fff;
        font-size: 20px;

    }

    .headline {
        color: #fff;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .about {
        font-size: 16px;
        color: #d8d7d7;
        line-height: 1.8;
    }

    .buttons {
        display: flex;
        justify-content: start;
        gap: 10rem;
        margin-top: 3rem;
        width: 100%;

        button {
            padding: 1rem 2rem;
            border: none;
            border-radius: 10px;
            background-color: #0bddac;
            color: #ffffff;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #06a68c;
            }
        }
    }
}

#profile-image {
    width: 100%;
    margin: 20px 0;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    background: #171b20;
}

.grid-container {
    width: min(70rem, 80%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 3rem;
}

.card {
    opacity: 0;
    --grad: #0bddac, #6e8da5;
    padding: 2rem;
    background: #242931;
    border-radius: 2rem;
    display: grid;
    gap: 1rem;
    grid-template: 'icon icon' 'title title' 'content content' 'bar bar' / 1fr auto;
    color: #ffffff;
    box-shadow:
        inset -2px 2px #0bddac,
        -10px 10px 40px rgba(11, 218, 166, 0.226);

    .title {
        font-size: 1.3rem;
        grid-area: title;
        align-self: end;
        text-transform: uppercase;
        font-weight: 500;
        word-break: break-all;
        text-align: center;
    }

    .icon {
        grid-area: icon;
        text-align: center;
        font-size: 3rem;
        padding-bottom: 5px;

        >i {
            color: transparent;
            background: linear-gradient(to right, var(--grad));
            background-clip: text;
        }
    }

    .content {
        grid-area: content;
        text-align: center;
        color: #d8d7d7;

        &>*:first-child {
            margin-top: 0rem
        }

        &>*:last-child {
            margin-bottom: 0rem
        }
    }

    &::after {
        content: "";
        grid-area: bar;
        height: 2px;
        background-image: linear-gradient(90deg, var(--grad));
        /*     margin-inline: -1.5rem; */
    }

}

/* class added when in view */
.card.animate {
    animation: slideInRight 0.6s forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.navigation .active {
    color: #0bddac;
}

/* Skills Section Styles */
#skills {
    padding: 4rem;
    background: #242931;

    .skill {
        margin-bottom: 20px;
        color: #ffffff;

        p {
            margin-bottom: 5px;
        }

        .skill-bar {
            background: #d8d7d7;
            height: 25px;
            border-radius: 20px;
            overflow: hidden;

            .skill-level {
                height: 100%;
                background: #0bddac;
                color: white;
                text-align: right;
                padding-right: 10px;
                line-height: 25px;
                border-radius: 20px;
                width: 0%;
                transition: width 1.5s ease-in-out;
            }
        }
    }
}

/* Education Section Styles */
.education-section {
    background: #171b20;
    height: auto;
    padding: 4rem;
}

.education-container {
    width: min(70rem, 80%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 5rem;
}

.education-item {
    opacity: 0;
    --grad: #0bddac, #6e8da5;
    padding: 2rem;
    background: #242931;
    border-radius: 2rem;
    display: grid;
    gap: 2rem;
    grid-template: 'icon icon' 'title title' 'content content' 'bar bar' / 1fr auto;
    color: #ffffff;
    box-shadow:
        inset -2px 2px #0bddac,
        -10px 10px 40px rgba(11, 218, 166, 0.226);

    img {
        grid-area: icon;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    h2 {
        grid-area: title;
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        grid-area: content;
        font-size: 16px;
        margin-bottom: 5px;
    }

    &::after {
        content: "";
        grid-area: bar;
        height: 2px;
        background-image: linear-gradient(90deg, var(--grad));
        /*     margin-inline: -1.5rem; */
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.education-item {
    opacity: 0;
    transform: translateX(0);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.education-item.left.animate {
    animation-name: slideInLeft;
}

.education-item.right.animate {
    animation-name: slideInRight;
}

.contact {
    background-color: #171b20;
    display: flex;
    height: auto;
    padding: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h1 {
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        color: #d8d7d7;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 30px;
    }

    .contact-container {
        /* background-color: red; */
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;

        .badge-base {
            /* background-color: #242931; */
            padding: 25px;
        }

        .contact-options {
            /* background-color: purple; */
            text-align: center;
            color: #ffffff;
            font-weight: 200;
            display: flex;
            height: auto;
            flex-direction: column;
            padding: 25px;
            width: 22.2rem;
            gap: 2rem;
            justify-content: center;

            .social-links {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                /* max 4 columns per row */
                gap: 1rem;
                justify-content: center;
                align-items: center;
                /* background-color: rgba(4, 27, 15, 0.226); */
                padding: 1rem;

                a {
                    width: 2.5rem;
                    height: 2.5rem;
                    opacity: 0;
                    transform: translateY(-20px);
                    transition: opacity 0.3s ease-out;

                    .social-icon:hover .circle-bg {
                        fill: black;
                    }
                }
            }


        }
    }
}

.contact-options .social-links a.animate {
    animation: fadeInText 1s ease forwards;
}

@media(max-width: 750px) {
    nav .logo {
        margin-left: 2px;

        .logo-link {
            padding-top: 2px;

            #logo-txt {
                font-size: 20px;
            }
        }
    }

    .hideOnMobile {
        display: none;
    }

    .topbar {
        width: auto;
    }

    .sidebar {
        width: 60%;
    }

    .menu-button {
        display: block;
        margin-right: 20px;
    }

    .home-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-section div {
        width: 90%;
    }

    .home-left .buttons {
        justify-content: space-evenly;
        gap: 0;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
    }

    #profile-image {
        width: 60%;
    }

    .card,
    .education-item,
    .education-section,
    .contact,
    #skills {
        padding: 3rem 1rem;
    }

    .contact .contact-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-left .buttons button {
        font-size: 14px;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
    }
}

footer p {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    gap: 8px;
    background-color: #242931;
    color: #d8d7d7;
    justify-content: center;
}

footer svg {
    padding-top: 0;
    /* remove this */
    width: 20px;
    height: 20px;
}