@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Scrollbar track (background) */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #b6bebc;
    border-radius: 10px;
}

/* Scrollbar track area */
::-webkit-scrollbar-track {
    background-color: #171b20;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0bddac;
}


body {
    min-height: 100vh;
    background: #242931;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

nav {
    background: #242931;
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;

    a {
        display: flex;
        height: 80%;
        width: 80px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
    }
}

.menu-button {
    display: none;
}

.logo a {
    display: flex;
    width: 250px;
    /* background-color: rgba(25, 0, 255, 0.26); */
    padding: 10px;
    font-size: 24px;
}

.topbar {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 80%;
    margin-left: auto;
    /* background-color: rgba(25, 0, 255, 0.212); */
    list-style: none;
}

.sidebar {
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(141, 120, 120, 0.1);
    top: 0;
    right: 0;
    width: 50%;
    height: 110%;
    position: fixed;
    flex-direction: column;
    z-index: 1000;

    /* Animate sidebar from right */
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    /* Always use flex, control visibility with transform */
}

.sidebar.active {
    transform: translateX(0);
    /* Slide into view */
}

.sidebar .content {
    padding: 20px 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.sidebar a {
    display: flex;
    height: 60%;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}



.sidebar a:hover,
.svg-icon:hover path,
nav a:hover {
    cursor: pointer;
    fill: #0bddac;
    color: #0bddac;
    /* font-weight: 500; */
    /* text-shadow:
        0 0 3px #0bddac */
}

.home-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}


.home-right {
    width: 25%;
    height: auto;
}

.home-left {
    height: auto;
    width: 50%;
    padding: 50px 0 0;
    /* background: rgba(255, 0, 0, 0.397); */
    color: #fff;
}

.name {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
    color: #0bddac;
    text-shadow:
        0 0 3px #0bddac
}

.greet {
    margin-top: 10px 0 0;
    color: #fff;
    font-size: 20px;

}

.headline {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.about {
    font-size: 16px;
    color: #d8d7d7;
    line-height: 1.8;
}

#profile-image {
    width: 100%;
    margin: 20px 0;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background: #171b20;
}

.about-section h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 50px;
}

.grid-container {
    width: min(70rem, 80%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 3rem;
}

.card {
    /* position: relative; */
    opacity: 0;
    /* transform: translateX(100%); */

    --grad: #0bddac, #6e8da5;
    padding: 2rem;
    background: #242931;
    border-radius: 2rem;
    display: grid;
    gap: 1rem;
    grid-template: 'icon icon' 'title title' 'content content' 'bar bar' / 1fr auto;
    font-family: system-ui, sans-serif;
    color: #ffffff;
    box-shadow:
        inset -2px 2px #0bddac,
        -10px 10px 40px rgba(11, 218, 166, 0.226);

    .title {
        font-size: 1.3rem;
        grid-area: title;
        align-self: end;
        text-transform: uppercase;
        font-weight: 500;
        word-break: break-all;
        text-align: center;
    }

    .icon {
        grid-area: icon;
        text-align: center;
        font-size: 3rem;
        padding-bottom: 5px;

        >i {
            color: transparent;
            background: linear-gradient(to right, var(--grad));
            background-clip: text;
        }
    }

    .content {
        grid-area: content;
        text-align: center;
        color: #d8d7d7;

        &>*:first-child {
            margin-top: 0rem
        }

        &>*:last-child {
            margin-bottom: 0rem
        }
    }

    &::after {
        content: "";
        grid-area: bar;
        height: 2px;
        background-image: linear-gradient(90deg, var(--grad));
        /*     margin-inline: -1.5rem; */
    }

}

/* class added when in view */
.card.animate {
    animation: slideInRight 0.6s forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.navigation .active {
    color: #0bddac;
}

/* Skills Section Styles */
#skills h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
}

#skills {
    padding: 40px;
    background: #242931;
}

.skill {
    margin-bottom: 20px;
    color: #ffffff;

    p {
        margin-bottom: 5px;
    }
}

.skill-bar {
    background: #d8d7d7;
    height: 25px;
    border-radius: 20px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    background: #0bddac;
    color: white;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
    border-radius: 20px;
    width: 0%;
    transition: width 1.5s ease-in-out;
}

@media(max-width: 700px) {
    .hideOnMobile {
        display: none;
    }

    .topbar {
        width: auto;
    }

    .sidebar {
        width: 60%;
    }

    .menu-button {
        display: block;
        margin-right: 20px;
    }

    .home-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-section div {
        width: 90%;
    }

    #profile-image {
        width: 60%;
    }
}

footer p {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    gap: 8px;
    background-color: #171b20;
    color: #d8d7d7;
    justify-content: center;
}

footer svg {
    padding-top: 0;
    /* remove this */
    width: 20px;
    height: 20px;
}